<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dogs around me</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  

  <div class="visibleInfo" *ngIf="!walking">
    <ion-icon name="eye-off"></ion-icon> You are <font color="red">NOT visible</font> to other dogs
  </div>
  <div class="visibleInfo" *ngIf="walking">
    <ion-icon name="eye"></ion-icon> You are <font color="green">VISIBLE</font> to other dogs
  </div>

  <div #map id="map"></div>

  <ion-fab center bottom *ngIf="!walking">
    <button ion-fab color="secondary" (click)="buttonStartWalk()">
      <ion-icon name="walk"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab center bottom *ngIf="walking">
    <button ion-fab color="danger" (click)="buttonStopWalk()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab right bottom>
    <button ion-fab color="light" (click)="buttonLocateMe()">
    	<ion-icon name="locate"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
