map-tab ion-content {
  background: rgb(229, 227, 223);
}

map-tab #map {
  width: 100%;
  height: calc(100% - 30px);
  opacity: 0;
  transition: opacity 150ms ease-in
}

map-tab #map.show-map {
  opacity: 1;
}

.visibleInfo {
	background: black;
	color: white;
	height: 30px;
	text-align: center;
	padding-top: 4px;
}

