
target/
.vertx/

# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
/walkingdog-mobile/nbproject/private/
/walkingdog-api/target/
/walkingdog-services/target/
/nbactions.xml
/walkingdog-authentication-services/target/
/walkingdog-commons/target/
/walkingdog-email-services/target/
/walkingdog-authentication-services/.vertx
/walkingdog-authentication-api/target/
/walkingdog-email-api/target/
/walkingdog-location-api/target/
/walkingdog-profile-api/target/
/walkingdog-profile-services/target/

setenv.sh
