page-start {

	h1 {
		text-align: center;
		color: black;
	}

	.title {
		height: 300px;
		padding-top: 100px;
	}

	ion-content:after {
		content: "";
		background: url('../assets/img/background-startpage.jpg');
		opacity: 0.5;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.buttonTransparent {
		background-color: transparent;
		border: 1px black solid;
		color: black;
	}

	.buttonTransparent:hover, .buttonTransparent.activated {
		background-color: black !important;
		color: white;
	}

	h6 {
		text-align: center;
	}
}
